<h1>Class & Style</h1>
<input type="text" required #nameStyle="ngModel" [(ngModel)]="name" />
<!--Add class si se cumple la condición que recibe [class.NameClase]="condición"-->
<p class="message_error" [class.invalid]="nameStyle.invalid">
  El campo es requerido
</p>
<!--Se modifica el estilo de forma directa en el atributo style-->
<p [style.font-style]="nameStyle.invalid ? 'italic' : 'normal'">
  Texto texto texto
</p>
<label for="widthImage">
  <span>Width image: </span>
  <input
    id="widthImage"
    type="text"
    placeholder="width image"
    required
    [(ngModel)]="widthImg"
  />
</label>
<img
  [style.width.px]="widthImg"
  [style.height.px]="widthImg"
  style="object-fit: cover"
  [src]="img"
  alt="imagen"
/>
<hr />

<h1>*ngFor in Objs</h1>
<div class="products_grid">
  <div class="products_card" *ngFor="let product of products">
    <img class="products_image" [src]="product.image" alt="imagen producto" />
    <div class="products_details">
      <h2 class="products_price">${{ product.price }}</h2>
      <p class="products_name">{{ product.name }}</p>
    </div>
  </div>
</div>
<hr />

<h1>[ngSwitch]</h1>
<input type="text" required [(ngModel)]="name" />
<div [ngSwitch]="name">
  <p *ngSwitchCase="'andres'">Soy andres</p>
  <p *ngSwitchCase="'camilo'">Soy camilo</p>
  <p *ngSwitchCase="'laura'">Soy laura</p>
  <p *ngSwitchCase="'joha'">Soy joha</p>
  <p *ngSwitchDefault>Sin coincidencias</p>
</div>
<hr />

<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newName" />
<button (click)="addName()">Add name</button>
<ul>
  <li *ngIf="names.length === 0">No hay names</li>
  <li *ngFor="let name of names; index as i">
    {{ i }} {{ name }}
    <button (click)="removeName(i)">Delete</button>
  </li>
</ul>
<hr />

<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="name" />
<p *ngIf="name.toLocaleLowerCase() === 'andres'; else myBlock">Soy Andres</p>
<p *ngIf="name.toLocaleLowerCase() === 'nicolas'; else myBlock">Soy Nicolas</p>
<ng-template #myBlock>
  <p>Sin coincidencia</p>
</ng-template>
<hr />

<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toogleButton()">Toogle Button</button>
<hr />

<h1>Propiedades y template string</h1>
<div>
  <h3>Hola, soy {{ name }} y tengo {{ age }}</h3>
  <picture>
    <img
      style="width: 300px; height: 200px; object-fit: cover"
      [src]="img"
      alt="imagen"
    />
  </picture>
  <label>
    <span>Name: </span>
    <input type="text" (input)="onChange($event)" [value]="name" />
  </label>
</div>

<div>
  <h3>Hola, soy {{ person.name }} y tengo {{ person.age }}</h3>
  <picture>
    <img
      style="width: 300px; height: 200px; object-fit: cover"
      [src]="person.img"
      alt="imagen"
    />
  </picture>
  <button (click)="incrementAge()">Age ++</button>
  <progress max="100" [value]="person.age"></progress>
  <label>
    <span>Person name: </span>
    <input
      type="text"
      required
      #nameInput="ngModel"
      [(ngModel)]="person.name"
    />
  </label>
  <p>Valid: {{ nameInput.valid }}</p>
</div>
<hr />
<h1>Hola mundo</h1>
<h2>{{ "Hola mundo ".repeat(3) }}</h2>
<p>3 + 3 = {{ 3 + 3 }}</p>
<hr />
