<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="name" />
<progress max="100" [value]="age"></progress>
<div>
  <h3>Hola, soy {{ name }} y tengo {{ age }}</h3>
  <picture>
    <img
      style="width: 400px; height: 400px; object-fit: cover"
      [src]="img"
      alt="imagen"
    />
  </picture>
</div>
<div>
  <h3>Hola, soy {{ person.name }} y tengo {{ person.age }}</h3>
  <picture>
    <img
      style="width: 400px; height: 400px; object-fit: cover"
      [src]="person.img"
      alt="imagen"
    />
  </picture>
</div>
<hr />
<h1>Hola mundo</h1>
<h2>{{ "Hola mundo ".repeat(3) }}</h2>
<p>3 + 3 = {{ 3 + 3 }}</p>
<hr />
