<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="name" />
<p *ngIf="name.toLocaleLowerCase() === 'andres'; else myBlock">Soy Andres</p>
<p *ngIf="name.toLocaleLowerCase() === 'nicolas'; else myBlock">Soy Nicolas</p>
<ng-template #myBlock>
  <p>Sin coincidencia</p>
</ng-template>

<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toogleButton()">Toogle Button</button>

<h1>Propiedades y template string</h1>
<div>
  <h3>Hola, soy {{ name }} y tengo {{ age }}</h3>
  <picture>
    <img
      style="width: 300px; height: 200px; object-fit: cover"
      [src]="img"
      alt="imagen"
    />
  </picture>
  <label>
    <span>Name: </span>
    <input type="text" (input)="onChange($event)" [value]="name" />
  </label>
</div>

<div>
  <h3>Hola, soy {{ person.name }} y tengo {{ person.age }}</h3>
  <picture>
    <img
      style="width: 300px; height: 200px; object-fit: cover"
      [src]="person.img"
      alt="imagen"
    />
  </picture>
  <button (click)="incrementAge()">Age ++</button>
  <progress max="100" [value]="person.age"></progress>
  <p>Valid: {{ nameInput.valid }}</p>
  <label>
    <span>Person name: </span>
    <input
      type="text"
      required
      #nameInput="ngModel"
      [(ngModel)]="person.name"
    />
  </label>
</div>
<hr />
<h1>Hola mundo</h1>
<h2>{{ "Hola mundo ".repeat(3) }}</h2>
<p>3 + 3 = {{ 3 + 3 }}</p>
<hr />
